fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
boto3==1.34.1
botocore==1.34.1
motor
PyPDF2
python-docx
python-dotenv
 
